@import url('https://fonts.googleapis.com/css?family=Meddon&display=swap');

body, html {
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 1.8em;
    background-color: #fff;
    scroll-behavior: smooth;
}

::-moz-selection {
    /* Code for Firefox */
    color: #f2f1e7;
    background: #5c4d4d;
}

::selection {
    color: #f2f1e7;
    background: #5c4d4d;
}

#topnav {
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.99;
}

.mynav {
    margin-left: 5px;
}

.transparent {
    background-color: transparent;
    -webkit-transition: background-color 0.95 ease-out;
    -moz-transition: background-color 0.95 ease-out;
    -o-transition: background-color 0.95 ease-out;
    transition: background-color 0.95 ease-out;
}

.solid {
    background-color: #fff;
    padding-bottom: 22px;
    -webkit-transition: background-color 1.5 ease-out;
    -moz-transition: background-color 1.5 ease-out;
    -o-transition: background-color 1.5 ease-out;
    transition: background-color 1.5s ease-out;
}

.link-div {
    padding: 5px;
    margin: 5px;
    padding-top: 8px;
}

.nav-link {
    color: #a96851;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 550;
    margin: 0;
}

.link-trans:hover {
    color: #f2f1e7;
    border-bottom: solid #f2f1e7 1px;
    border-radius: 75%;
}

.link-solid:hover {
    color: #a96851;
    border-bottom: solid #a96851 1px;
    border-radius: 75%;
}

.navbar-text {

    font: 200 24px 'Meddon', cursive;
    text-shadow: 4px 4px 0px rgba(#f2f1e7, 0.1);
    font-weight: 1200;
    color: #f2f1e7;
    padding-bottom: 1px;
    border-bottom: solid #f2f1e7 0.5px;
    border-radius: 24%;
    -webkit-transition: color 1.5 ease-out;
    -moz-transition: color 1.5 ease-out;
    -o-transition: color 1.5 ease-out;
    transition: color 1.5s ease-out;
}

.navbar-text-solid {
    font: 200 20px 'Meddon', cursive;
    text-shadow: 4px 4px 0px rgba(#5c4d4d, 0.1);
    font-weight: 1300;
    color: #a96851;
    border-bottom: solid #a96851 0.5px;
    border-radius: 24%;
    -webkit-transition: color 1.5 ease-out;
    -moz-transition: color 1.5 ease-out;
    -o-transition: color 1.5 ease-out;
    transition: color 1.5s ease-out;
}

#logo {
    position: fixed;
    top: 5px;
    right: 40px;
    z-index: 1;
    font-family: 'Meddon', cursive;
}

#slogon {
    position: absolute;
    top: 160px;
    margin: 0;
    left: 50%;
    margin-left: -215px;
    color: #f2f1e7;
    opacity: 0.8;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
    
    padding: 0;
    
}

#s1, #s2, #s3 {
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    margin: 0;
}

.layer {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(#f2f1e7, 0.1);
}

#about, #mymenu {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    position: relative;
    z-index: 0;
}

#s1 {
    min-height: 100%;
    background-image: url("../../images/cup2.jpg");
    position: relative;
}

#s2 {
    padding: 50px;
    min-height: 100vh;
    position: relative;
    z-index: -1;
    border-bottom: solid 6px #f2f1e7;
}

#s3 {
    position: relative;
    z-index: -1;
    border-bottom: solid 6px #f2f1e7;
}

#s4 {
    position: relative;
    z-index: -1;
}

#s5 {
    min-height: 450px;
    position: relative;
    z-index: -1;
    border-bottom: solid 6px #f2f1e7;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../images/s5.jpg");
    position: relative;
}

.headings {
    padding: 25px;
    margin: 0;
    text-align: center;
}

.aboutText {
    background-color: transparent;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-transform: capitalize;
    top: -52px;
}

#aboutText h1 {
    text-align: left;
    font-size: 50px;
    font-weight: 400;
    color: #a96851;
}

#aboutText p {
    margin-left: 10%;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    color: #5c4d4d;
}

.img-div {
    max-width: 430px;
    float: right;
}

#mymenu {
    text-align: left;
    border: solid #5c4d4d 1px;
    padding: 20px 50px;
}

h2{
    padding: 15px;
}

#contact {
    text-align: left;
    position: relative;
    background-color: #fff;
    padding: 50px;
}
article{
    padding: 0 50px;
}

#menu {
    text-align: left;
    position: relative;
    background-color: #fff;
}


#s3 h1, #s4 h1 {
    position: relative;
    text-align: left;
    font-size: 50px;
    font-weight: 400;
    color: #a96851;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-transform: capitalize;
    padding: 15px;
    margin-left: 7%;
}

#s4 h1 {
    left: -75px;
}

.mycontainer {
    margin: 0% 5% 0% 5%;
    top: -200px;
    padding-top: 5%;
}

@media screen and (max-width: 768px){
    .mynav{
        display: none;
    }

    #logo{

        top: 10px;
        left:50%;
        margin-left: -128px;
        position: relative;
        font-family: 'Meddon', cursive;

    }
    #slogon{
        font-size: 25px;
        z-index: 2000;
        margin-left: -135px;
    }

    #aboutText {
        position: relative;
        background-color: transparent;
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        text-transform: capitalize;
        top: 25px;
        height: auto;
        
    }
    
    #aboutText h1 {
        text-align: left;
        font-size: 40px;
        font-weight: 300;
        color: #a96851;
    }
    
    #aboutText p {
        margin-left: 8%;
        text-align: left;
        font-size: 20px;
        font-weight: 300;
        color: #5c4d4d;
        padding-bottom: 25px;
    }

    #s2{
        padding: 25px;
        
        
    }
    
    #s5{
        min-height: 300px;
    }
    #mymenu{
        padding: 20px 20px;

    }

    #s3 h1, #s4 h1 {
        position: relative;
        text-align: left;
        font-size: 40px;
        font-weight: 300;
        color: #a96851;
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        text-transform: capitalize;
        padding: 15px;
        margin-left: 7%;
    }

    #s3 h2, #s4 h2 {
        font-size: 30px;
    }
#s4{
    max-height: 110vh;
}
    #s4 h1{
        margin-left: 13%;
    }
    article{
        padding: 0px;
    }
    
}

#footer{
  

    height: 70px;
    text-align: center;

}
#footer h2{
    position: relative;

    font-size: 25px;
    font-weight: 300;
    color: #a96851;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-transform: capitalize;
    padding: 25px;

}