body, html {
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 1.8em;
    background-color: #fff;
    scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
    color: #f2f1e7;
    background: #5c4d4d;
  }
  
  ::selection {
    color: #f2f1e7;
    background: #5c4d4d;
  }

#topnav {
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.99;
    
}

.mynav {
    margin-left: 5px;
}

.transparent {
    background-color: transparent;
    -webkit-transition: background-color 0.95 ease-out;
    -moz-transition: background-color 0.95 ease-out;
    -o-transition: background-color 0.95 ease-out;
    transition: background-color 0.95 ease-out;
}

.solid {
    background-color: #fff;
    padding-bottom: 22px;
    -webkit-transition: background-color 1.5 ease-out;
    -moz-transition: background-color 1.5 ease-out;
    -o-transition: background-color 1.5 ease-out;
    transition: background-color 1.5s ease-out;
}


.link-div {
    padding: 5px;
    margin: 5px;
    padding-top: 8px;

}

.nav-link {
    color: #a96851;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 550;
    margin: 0;
}

.link-trans:hover{
    color: #f2f1e7;
border-bottom: solid #f2f1e7 1px;
border-radius: 75%;
}

.link-solid:hover{
    color: #a96851;
border-bottom: solid #a96851 1px;
border-radius: 75%;
}

.navbar-text {
    font: 200 47px 'Arizonia', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(#f2f1e7, 0.1);
    font-weight: 1200;
    color: #f2f1e7;
    padding-bottom: 1px;
    border-bottom: solid #f2f1e7 0.5px;
    border-radius: 24%;
    -webkit-transition: color 1.5 ease-out;
    -moz-transition: color 1.5 ease-out;
    -o-transition: color 1.5 ease-out;
    transition: color 1.5s ease-out;
}
.navbar-text-solid {
    font: 200 47px 'Arizonia', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(#5c4d4d, 0.1);
    font-weight: 1300;
    color: #a96851;
    border-bottom: solid #a96851 0.5px;
    border-radius: 24%;
    -webkit-transition: color 1.5 ease-out;
    -moz-transition: color 1.5 ease-out;
    -o-transition: color 1.5 ease-out;
    transition: color 1.5s ease-out;
 
}

#logo {
    position: fixed;
    top: 5px;
    right: 40px;
    z-index: 1;
}

#slogon {
    position: absolute;
    top: 160px;
    left: 35%;
    right: 0%;
    color: #f2f1e7;
    opacity: 0.8;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding:0;
}


#s1, #s2, #s3 {
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    margin: 0;
}

.layer {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(#f2f1e7, 0.1);
}

#about, #mymenu{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    position: relative;
    z-index: 0;
}

#s1 {
    min-height: 100%;
    background-image: url("../../images/cup2.jpg");
    position: relative;
    
    
}

#s2 {
    margin-top: 50px;
    padding: 15px;
    min-height:100vh;
    position: relative;
    z-index: -1;
  padding-bottom: 0;
    border-bottom: solid 6px #f2f1e7;
}

#s3 {
    padding-top: 50px;
    padding: 15px;
    
    position: relative;
    z-index: -1;
    padding-bottom: 0;

    border-bottom: solid 6px #f2f1e7;
}

#s4{
    padding-top: 50px;
    padding: 15px;
   
    position: relative;
    padding-bottom: 0;

    z-index: -1;
}

#s5{
    
    padding: 15px;
    min-height: 450px;
    position: relative;
    z-index: -1;
    
    border-bottom: solid 6px #f2f1e7;

   background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    background-image: url("../../images/s5.jpg");
    position: relative;
}



.headings {
    padding: 25px;
    margin: 0;
    text-align: center;
}

#aboutText {
    background-color: transparent;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-transform: capitalize;
    top: -52px;
}

#aboutText h1 {
    text-align: left;
    font-size: 50px;
    font-weight: 400;
    color: #a96851;
}

#aboutText p {
    margin-left: 10%;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    color: #5c4d4d;
}

.img-div {
    max-width: 430px;
    float: right;
}


#mymenu{
   
    text-align: left;
    padding: 25px;
    border: solid #5c4d4d 1px;



}

#contact{
   
    text-align: left;
    padding: 80px;
    position: relative;
    top:-250px;
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;

}

#menu{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    top:-250px;
    background-color: #fff;
  
    padding-top: 50px;
}
#mymenu h2, #contact h2{
    font-size: 35px;
    display: block;
    font-weight: 400;
    color: #a96851;
    text-transform: capitalize;
    border-bottom: solid #a96851 2px;
    padding: 15px;
    
    

}


#s3 h1, #s4 h1{
    position: relative;
    text-align: left;
    font-size: 50px;
    font-weight: 400;
    color: #a96851;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    text-transform: capitalize;
padding: 15px;
margin-left: 7%;


}
#s4 h1{
    left:-75px;
}

.mycontainer{
padding-top: 55px;
margin-left: 2.5%;
margin-right: 2.5%;
}

